$black: #202020;
$beige: #F8F4E3;
$orange: #F76B00;
$blue: #00051b;
$grey: gray;
$white: #f2f1f1;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

%header {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 48px;
}

%title {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px; 
}

%title2 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
 
}

%text1 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px; 
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromUp {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar-link{
  @extend %title;
}

.fadeIn {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.slideleft {
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}
.slideup {
  animation: 1s ease-in-out 0s 1 slideInFromUp;
}

* {
  
}

/* Chrome, Edge, and Safari */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: $beige $black;
}
*::-webkit-scrollbar {
  width: 42px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 40px;
}

html {
  overflow-x: hidden;
  height: 100%;
}



body {
  background-color: $black;
  color: $beige;
  //
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: $white;
  color: $blue;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.button1 {
  @extend %title;
  background-color: $orange;
  color: $black;
  border: none;
  border-radius: 7px;
  padding: 5px 30px;
  &.disable{
    opacity: 37%;
  }
}

.input1 {
  color: $white;
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid $white;
  padding: 5px 10px;
  text-align: center;
  &::placeholder {
    color: $white;
  }
}


.navbar{
  padding-top: 50px;
  h1{
    @extend %title;
    font-weight: bold;
    margin: 0;
  }
}

.overlay{
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  z-index: 9999; /* Make sure it appears on top of other elements */
  .modalContent{
    background-color: $black;
    width: 500px;
    padding: 50px 30px;
    height: auto;
    border-radius: 8px;
    border: 1px solid $orange;
    margin: auto;
    position: relative;
    p{
      @extend %title2;
    }
    span{
      cursor: pointer;
      padding: 10px 20px;
      display: block;
      font-weight: bold;
      color: $black;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $orange;
      background-color: $beige;
      img{
        float: right;
        width: 24px;
        height: 24px;
      }
    }
    .cancel{
      cursor: pointer;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  &.show{
    display: flex;
  }
}

#landing{
  display: flex;
  width: 100vw;
  height: calc(100vh - 120px);
  overflow-x: hidden;
  .click{
    position: absolute;
    width: 93px;
    top: 20px;
    left: 220px;
    width: 93px;
  }
  .header{
    @extend %header;
  }
  .text{
    @extend %title;
    margin: 20px auto 90px 0;
    .bold{
      font-weight: 600;
    }
  }
  .button1{
    margin-bottom: 23px;
  }
  .info{
    @extend %text1;
  }
  .landing{
    width: 100%;
  }
  .warn{
    margin: auto 0;
    width: 40px;
    height: 40px;
  }
}

#panel{
  margin-top: 92px;
  .text1{
    @extend %title;
  }
  .label {
    @extend %title;
    font-weight: bold;
  
    input[type=text] {
      color: $beige;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $beige;
      margin-left: 16px;
      text-align: center;
      padding: 5px 40px;
  
      &::placeholder {
        text-align: center;
        opacity: 50%;
      }
    }
  
    .button {
      color: $beige;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $beige;
      margin-left: 16px;
      text-align: center;
      font-weight: 100;
      padding: 5px 40px;
      display: flex; /* Use flexbox to align content */
      align-items: center; /* Center content vertically */
  
      &.active {
        color: $black;
        background-color: $beige;
      }
  
      .cancel {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        vertical-align: middle; /* Ensure the image aligns vertically */
      }
    }
  }
  
  .info{
    @extend %text1;
  }
  .warn{
    margin: auto 8px auto 0;
    width: 40px;
    height: 40px;
  }
  .text2{
    @extend %title;
    margin-top: 110px;
  }

  #frameworks{
    border: none;
    .nav-item{
      .nav-link{
        color: $beige;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid $beige;
        margin-right: 8px;
        text-align: center;
        font-weight: 100;
        padding: 5px 10px;
        &.active{
          color: $black;
          background-color: $beige;
        }
      }
    }
  }
  #frameworksContent{
    border: 1px solid $orange;
    border-radius: 8px;
    background-color: transparent;
    margin: 10px auto 50px auto;
    padding: 5px;
    pre{
      height: 485px;
      overflow-y: auto;
      scrollbar-color: $orange $black;
    }
    .copy{
      position: absolute;
      top: 15px;
      right: 35px;
      border: 1px solid $orange;
      border-radius: 8px;
      background-color: transparent;
      @extend %title;
      padding: 5px 15px;
      color: $orange;
    }
  }
}

#list{
  position: relative;
  .left{
    position: absolute;
    right: 15px;
    top: 0;
  }
  .header{
    @extend %title;
    font-weight: bold;
  }
  .title{
    @extend %title2;
    font-weight: bold;
    margin-bottom: 10px
  }
  .text{
    padding: 5px 0;
    @extend %text1;
    width: 41%;
    border-bottom: 1px solid $beige;
  }
}